.main{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    min-height: 100vh;
    background-color:  var(--background-color);
    align-items: center;
}

.header{
    margin-top: 2rem;
}

.row{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap:3rem;

}
.chartContainer{
    padding:2rem 0rem;
    text-align: center;
}

.bottom{
    
}